/*------------Catagory--------------*/
.catagory h1{
    font-size: 40px;
    color: rgb(173, 134, 76);
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
