/*----------------Contact intro-----------*/
.contback{
  background-color:beige;
  background: linear-gradient(to right,beige,rgb(198, 198, 140));
}
.contact h1{
    font-family:Gill Sans;
    text-align: center;
    padding-top: 20px;
    color: rgb(176, 130, 61);
    font-weight: bold;
}

.contact p{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    font-family:Times;
    color:rgb(138, 110, 68);
}

/*------------Contact Form-----------*/
.contact-form {
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    height: 460px;
  }

.form-group{
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: black;
}

.form-group > input{
  border-color: rgb(212, 165, 107);
}

.form-group>textarea{
  border-color: rgb(212, 165, 107);
}



/*--------------Button------------*/
.contsub{
  border: 0px;
  height: 45px;
  width: 920px;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 5px;
  font-weight: 500px;
  background: rgb(226, 172, 105);
  color: black;
}

.contsub:hover{
  background-color: black;
  color: white;
}
