/*----------------Navbar Background-----------------*/
.navbar{
    background: bisque;
    text-align: center;
    height: 70px;
    width: 100%;
    display: flex;
	  align-items: center;
    justify-content: space-between;
}
   
/*-------logo----*/

.logo{
  padding-right: 5px;
  padding-left: 42px;
  
}

/*-----------order button--------------*/

.btnorder{
  border-radius: 30px;
  margin-left: 1010px;
  margin-right: 10px;
  border: 0px;
  background-color: rgb(228, 184, 130);
  width: 112px;
  height: 42px;
}

.btnorder span{
  font-size: 18px;
  font-weight: bold;
}

.prof{
  padding-left: 10px;
}


/*-------Link-----*/

.list a {
    
    color: rgb(212, 152, 74);
    text-decoration: none;
    margin: 10px 10px;
    font-size: 25px;
    padding: 2px 10px;
    justify-content: space-between;
    align-items: center;
  }

.list a.active,
.list a:hover
   {
    background-color: rgb(85, 107, 47,0.3);
    border-radius: 9px;
    height: 18px;
  }


 .list ul li{
	align-items: center;
	display: inline-block;
	position: relative;
  font-family: serif;
  margin: 5px 5px;
  cursor: pointer;
} 

/*---------SearchBox-------*/

.serbox{
  margin-top: -130px;
  display: flex;
  align-items: center;
  background:rgb(212, 152, 74);
  border-radius: 50px;
  padding-left: 20px;
  margin-left: 20px;
  width: 250px;
  
}
.serbox input{
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  max-width: 200px;
}

.serbox input::placeholder{
  color: #fff;
}
.serbox img{
  width: 20px;
  cursor: pointer;
}

/*--------------Login Button--------------*/
.logbtn{
  border: 2px;
  background-color: rgb(212, 152, 74);
  margin-left: 55px;
  height: 40px;
  color: black;
  width: 90px;
  border-radius: 35px;
  font-size: 16px;
  font-weight: bold;
}

