/*--------------Slide----------------*/
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 520px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-slide {
display: flex;
width: 100%;
height: 529px;
}


.each-slide> img {
width: 100%;
height: 100%;
object-fit: cover;
}